<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="margin-left:300px;margin-top:150px">
<form  action="/myview/" method="post">
Device Name : &nbsp;&nbsp;
<input type="text" name="search_text"/>
    <input type="submit" value="Search">
    {% csrf_token %}
</form>
    <div style="margin-top: 10px">

<table border="1">
<tr>
     <th>Index</th>
   <th>Device Name</th>
       <th>Magnification</th>
     <th>Field Of View</th>

 <th>Range</th>

</tr>
{% if all_records == 1%}
{% for field in myData.object_list %}

  <tr>
   <td>{{ field.pk }}</td>
  <td>{{ field.device_name }}</td>
  <td>{{ field.magnification }}</td>
  <td>{{ field.field_of_view }}</td>
  <td>{{ field.range }}</td>
</tr>

    {% endfor %}
    {% else %}
{% for field in myData %}

  <tr>
  <td>{{ field.device_name }}</td>
  <td>{{ field.magnification }}</td>
  <td>{{ field.field_of_view }}</td>
  <td>{{ field.range }}</td>
</tr>
 {% endfor %}
{% endif %}
</table>
    </div>
{% if all_records == 1%}
<div id="pagination">
 {{ myData.render }}
</div>
{% endif %}
</div>
</body>
</html>